.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color:#ececec;
  font-family: Lato;

}

/* Columns */
.left-column {
  padding-left: 10px;
  padding-top:10px;
  width: 50%;
  position: relative;
}
 
.right-column {
  width: 40%;
  margin-top:10px;
}

/* Photo Detail */
.photo-detail {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.photo-detail span {
  font-size: 20px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.photo-detail h1 {
  font-weight: 300;
  font-size: 30px;
  color: #43484D;
  letter-spacing: -2px;
}

.button-main {
  border-top: 1px solid #E1E8EE;
  margin-top: 20px;
  padding-top:10px
}

.back-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 20px;
  transition: all .5s;
}
.back-btn:hover {
  background-color: #64af3d;
}

